<fieldset class="teste">

  <legend>
    <h2>
      Cadastro de Pessoa
    </h2>
  </legend>

  <form [formGroup]="usuarioform" class="teste" (ngSubmit)="enviarDados()">

    <div class="form-row">
      <div class="form-group">
        <img
          src="https://img.freepik.com/vetores-gratis/imagens-animadas-abstratas-neon-lines_23-2148344065.jpg?size=626&ext=jpg"
          alt="Girl in a jacket" width="100" height="100">
      </div>

      <div class="form-group col-md-4 inputfile">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="onFileChange($event)" formControlName="avatar" [(ngModel)]="usuario.avatar">
            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{nomeArquivo}}</label>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="btn btn-mdb-color btn-rounded float-left">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" id="inputNome" formControlName="nome"  [(ngModel)]="usuario.nome">

        <div *ngIf="!nome.pristine && nome.errors">

          <div class="alert alert-danger" *ngIf="nome.errors.required">
            Nome é obrigatório.
          </div>

          <div class="alert alert-danger" *ngIf="nome.errors.maxlength">
            Nome deve ter no máximo 100 caracters.
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="inputCpf">CPF</label>
        <input type="text" class="form-control" id="inputCpf" formControlName="cpf" [(ngModel)]="usuario.cpf">

        <div *ngIf="!cpf.pristine && cpf.errors">
          <div class="alert alert-danger" *ngIf="cpf.errors.required">
            CPF é obrigatório.
          </div>
          <div class="alert alert-danger" *ngIf="cpf.errors.cpfInvalido">
            Digite um CPF válido
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="inputemail" formControlName="email"  [(ngModel)]="usuario.email">

        <div *ngIf="!email.pristine && email.errors">
          <div class="alert alert-danger" *ngIf="email.errors.email">
            Digite um e-mail válido.
          </div>
          <div class="alert alert-danger" *ngIf="email.errors.maxlength">
            E-mail deve ter no máximo 400 caracters.
          </div>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="email">Data Nasc</label>
        <input type="date" class="form-control" id="inputdt" formControlName="dtnasc" [(ngModel)]="usuario.dtnasc">
      </div>
    </div>

    <div class="form-row" style="float: right; margin-bottom: 50px;margin-top: 50px;">
      <button type="button" (click)="enviarDados()" class="btn btn-primary"
        [disabled]="!usuarioform.valid">Salvar</button>
      <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>

    <table class="table table-striped">
      <thead class="thead-light">

        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Cpf</th>
          <th scope="col">E-mail</th>
          <th scope="col">Data Nascimento</th>
          <th scope="col">Status</th>
          <th scope="col">Eventos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUsuario">
          <th scope="row">{{user.id}}</th>
          <th scope="row">{{user.nome}}</th>
          <th scope="row">{{user.cpf | CPF }}</th>
          <th scope="row">{{user.email}}</th>
          <th scope="row">{{user.dtnasc | date: 'dd/MM/yyyy'}}</th>
          <th scope="row">{{user.ativo}}</th>
          <th scope="row">
            <center>
            <a href="#" data-toggle="tooltip" ngbTooltip="Editar" class="icon" (click)="editarUsuario(user)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <a href="#" ngbTooltip="Excluir" class="icon" (click)="excluirUsuario(user)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </center>
          </th>
        </tr>
      </tbody>
    </table>


  </form>

</fieldset>