<fieldset class="teste">

  <legend>
    <h2>
      Cadastro de Pessoa
    </h2>
  </legend>

  <form [formGroup]="usuarioform" class="teste">

    <div class="form-row">
      <div class="form-group">
        <img
          src="https://img.freepik.com/vetores-gratis/imagens-animadas-abstratas-neon-lines_23-2148344065.jpg?size=626&ext=jpg"
          alt="Girl in a jacket" width="50" height="50">
      </div>

      <div class="d-flex justify-content-center">
        <label for="inputNome" style="padding-top: 15px;">Nome</label>
      </div>

      <div class="d-flex justify-content-center">
        <div class="btn btn-mdb-color btn-rounded float-left">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputNome">Nome</label>
        <input type="email" class="form-control" id="inputNome" formControlName="nome" [(ngModel)]="usuario.nome">
      </div>

      <div class="form-group col-md-2">
        <label for="inputCpf">CPF</label>
        <input type="number" class="form-control" id="inputCpf" formControlName="cpf" [(ngModel)]="usuario.cpf" minlength="5">
      </div>

      <div class="form-group col-md-3">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="inputemail" formControlName="email" [(ngModel)]="usuario.email">
      </div>

      <div class="form-group col-md-3">
        <label for="email">Data Nasc</label>
        <input type="date" class="form-control" id="inputdt" formControlName="dtnasc" [(ngModel)]="usuario.dtnasc">
      </div>
    </div>

    <button type="button" (click)="onSubmit()" class="btn btn-primary">Salvar</button>


    <table class="table">
      <thead class="thead-light">

        <tr>
          <th scope="col">id</th>
          <th scope="col">nome</th>
          <th scope="col">cpf</th>
          <th scope="col">email</th>
          <th scope="col">dtnasc</th>
          <th scope="col">Status</th>
          <th scope="col">Eventos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUsuario">
          <th scope="row">{{user.id}}</th>
          <th scope="row">{{user.nome}}</th>
          <th scope="row">{{user.cpf | CPF }}</th>
          <th scope="row">{{user.email}}</th>
          <th scope="row">{{user.dtnasc | date: 'dd/MM/yyyy'}}</th>
          <th scope="row">{{user.ativo}}</th>
          <th scope="row">
            <a href="#" data-toggle="tooltip" ngbTooltip="Editar">
              <span class="glyphicon">&#x270f;</span>
            </a>
            <a href="#" ngbTooltip="Excluir">
              <span class="glyphicon">&#x270f;</span>
            </a>
          </th>
        </tr>
      </tbody>
    </table>


  </form>

</fieldset>